VITE_APP_URL=http://localhost:3000
NODE_ENV=development

GOOGLE_GENERATIVE_AI_API_KEY=your-google-generative-ai-api-key

UPSTASH_REDIS_REST_URL="https://random-url-123456.upstash.io"
UPSTASH_REDIS_REST_TOKEN="random-string"
